* {
    margin: 0px;
    padding: 0px;
}
.password_strength {
    margin-top: 14px;   /* 控制插件的水平位置  */
    margin-left: 10px;  /* 控制插件的垂直位置  */
    float: left;
}
.password_strength span {
    background: url(../images/pwbg.png) no-repeat;
    display: block;
    width: 105px;
    height: 24px;
    overflow: hidden;
}
.password_strength span.weakpass {
    background-position: 0 -25px;
}
.password_strength span.goodpass {
    background-position: 0 -50px;
}
.password_strength span.strongpass {
    background-position: 0 -75px;
}
