body { }

/* = MAIN WRAPPER
----------------------------------------------------------------------------------------------------------------------*/
.main-wrapper { width: 960px; margin: 0 auto; text-align: left }

h2 { font-size: 21px; font-weight: bold; margin: 1em 0 }
h4 { font-size: 16px; font-weight: bold; margin: 0 0 1em }
p { font-size: 14px; margin: 0 0 1em }
.hr { height: 5px; background: #DEDEDE; overflow: hidden; margin: 1em 0 }

.syntaxhighlighter table td.gutter,
.syntaxhighlighter table td.code { padding: 4px!important }

/* = MISCELLANEOUS
----------------------------------------------------------------------------------------------------------------------*/
.align-center   { text-align: center }
.align-left     { text-align: left }
.align-right    { text-align: right }
.block          { display: block }
.bottom         { margin-bottom: 0; padding-bottom: 0 }
.center         { text-align: center }
.clear          { clear: both }
.first          { margin-left: 0; padding-left: 0 }
.hidden         { visibility: hidden }
.highlight      { background: #ccf }
.inline         { display: inline }
.last           { margin-right: 0; padding-right: 0 }
.left           { float: left }
.none           { display: none }
.nowrap         { white-space: nowrap }
.right          { float: right }
.stretch        { width: 100% }
.top            { margin-top: 0; padding-top: 0 }
.visible        { visibility: visible }