*{
	margin:0;
	padding:0;
}

body{
	background:url('../img/page_bg.png') repeat-x;
	font:13px/1.3 'Segoe UI',Arial, sans-serif;
	color:#999;
}

#page{
	width:550px;
	margin-top: 90px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
}

form ul{
	list-style:none;
}

form li{
	padding: 15px;
}

form li:nth-child(even){
	background:url('../img/line_bg.png') repeat-y center center;
}

form label{
	width:370px;
	font-size:20px;
	color:#bbb;
	display: inline-block;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#97cae6;
}

a:hover{
	text-decoration:underline;
}

#footer{
	background-color:#212121;
	position:fixed;
	width:100%;
	height:70px;
	bottom:0;
	left:0;
	z-index: 100000;
}

#footer h2{
	font-size:20px;
	font-weight:normal;
	left:50%;
	margin-left:-400px;
	padding:22px 0;
	position:absolute;
	width:400px;
	color:#eee;
}

#footer a.tzine,a.tzine:visited{
	background:url("../img/tzine.png") no-repeat right top;
	border:none;
	text-decoration:none;
	color:#FCFCFC;
	font-size:12px;
	height:70px;
	left:50%;
	line-height:31px;
	margin:23px 0 0 110px;
	position:absolute;
	top:0;
	width:290px;
}/*一流素材网www.16sucai.com*/
