/* 代码整理：懒人之家 */
*{
	margin:0;
	padding:0;
}

body{
	font-size:14px;
	color:#666;
	background:url('../images/demo_bg.jpg') no-repeat center top #111;
	font-family:Arial, Helvetica, sans-serif;
}

#iphone{
	/* The iphone frame div */
	width:750px;
	height:400px;
	background:url('../images/iphone_4G.png') no-repeat center center;
	position:relative;
}

#webpage{
	/* Contains the webpage screenshot */
	width:499px;
	height:283px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-141px 0 0 -249px;
}

#retina{
	/* The Retina effect */
	background:url('../images/webpage.png') no-repeat center center white;
	border:2px solid white;

	/* Positioned absolutely, so we can move it around */
	position:absolute;
	height:180px;
	width:180px;

	/* Hidden by default */
	display:none;

	/* A blank cursor, notice the default fallback */
	cursor:url('../images/blank.cur'),default;
	
	/* CSS3 Box Shadow */
	-moz-box-shadow:0 0 5px #777, 0 0 10px #aaa inset;
	-webkit-box-shadow:0 0 5px #777;
	box-shadow:0 0 5px #777, 0 0 10px #aaa inset;
	
	/* CSS3 rounded corners */
	-moz-border-radius:90px;
	-webkit-border-radius:90px;
	border-radius:90px;
}

#retina.chrome{
	/* A special chrome version of the cursor */
	cursor:url('../images/blank_google_chrome.cur'),default;
}

#main{
	/* The main div */
	margin:40px auto;
	position:relative;
	width:750px;
}

/* The styles below are only needed by the demo page */

h1{
	padding:30px 0;
	text-align:center;
	margin:40px 0 30px;
	font-size:44px;
	color:white;
	font-weight:normal;
}

h2{
	font-weight:normal;
	text-align:center;
}

h1,h2{
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
}

p.credit{
	text-align:center;
	margin:50px;
}

p.credit a{
	color:#707070;
	font-size:10px;
	text-decoration:none;
	border-bottom:1px dotted;
}

p.credit a:hover{
	border:none;
}

a, a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

a img{
	border:none;
}